---

---

<div class="Info">
	<div class="titleSection">
		<h1>QR Code Generator</h1>
	</div>
	
	<div class="bodySection">
		<p>
			This QR Code Generator is made with just basic HTML, CSS, and JS.  It can be included on any website that gives you access to its code.
			<br/><br/>
			Right click the QR code image to download it.  The QR code creation is handled entirely by your browser - no server resources are used when creating it.
			<br/><br/>
			Not yet ready for mobile use.
		</p>
		<p>
			Coming features:
			<ul>
				<li>Mobile responsive</li>
				<li>Color options</li>
				<li>Size options</li>
			</ul>
		</p>
	</div>
	<div class="authorSection">
		<p>Alec Reimel | <a href="#">Planet Caravan Studios</a></p>
		
	</div>
</div>


<style>
	.Info{
		height: 100%;
	}
	.titleSection{
		height: 100px;
		padding:var(--padding-1);
		border-bottom: solid var(--border-width) var(--border-color);
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.bodySection{
		height: calc(100% - 200px);
		overflow-y: scroll;
		padding:var(--padding-1);
	}
	.authorSection{
		height: 100px;
		padding:var(--padding-1);
		border-top: solid var(--border-width) var(--border-color);
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 1.25rem;
	}
</style>
